@font-face {
    font-family: AvenirNextRegular;
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
    font-style: normal;

    font-family: AvenirNextBold;
    src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
    font-style: normal;

    
}