.header {
  background-color: black;
  height: 100%;
  
  &__logo {
    display: flex;
    // border:  2px solid blue;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
  }

  &__navigation {
    color: white;
  }

  &__navigation-menu {
  display: flex;
  // border: 2px solid red;
  padding: 0em;
  margin-bottom: 100%;
  }

  &__navigation-item {
    display: flex;
    // border: 2px solid yellow;
    justify-content: center;
    min-width: 50%;

   &--active {
     display: flex;
     padding-bottom: 3px;
     border-bottom: solid 5px white;
     justify-content: center;
     min-width: 50;
   }
   }
}


@include small {
    .header {
      min-height: 80px;
      max-height: 80px;
      width: 100vw;
      font-size: 14px;
      line-height: 22px;
      color: white;

      &__logo {
        padding-top: 10px;
      }
    }
  }

  @include medium {
    .header {
      padding-left: 24px;
      width: 100vw;
      // min-height: 80px;
      // max-height: 80px;
      align-items: center;
      padding-left: 24px;
      font-size: 16px;
      line-height: 24px;
      display: flex;

      &__navigation-menu{
      margin: 0%;
      padding-top: 22%;
      padding-left: 30%;
      height: 50px;
      width: 10rem;
    }
  }
}


@include large {
  .header {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    padding-left: 180px;
    &__logo {
      align-items: center;
    }
    &__navigation-menu{
      margin: 0%;
      height: 4rem;
      width: 10rem;
      padding-top: 16px;
      padding-left: 56px;
    }
    &__navigation-item{
      align-items: center;
      padding-bottom: 0%;
      margin-right: 56px;
    }
      
  }
}

    
    



// .header {
//     background-color: black;
//     height: 100%;
//     color: white;
//     &__container-logo {
//         display: flex;
   

//     }
//     &__container {
//       display: flex;
//     }
//     &__bio {
//       border-bottom: 3px solid white;
//       min-width: 50%;
//     }
// }    



//     }
//   }


  

    
 
//     }
//   }







        