@import "./partials/font";
@import "./partials/breakpoint";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/mainContent";

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  
}

// html,
// body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   color: white;
// }
// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

// .show {
//    @extend .bio
// }

// a {
//     text-decoration: none;
//     color: white;

// }

// li {
//     list-style-type: none;
// }
